

<br>

<div class="list-group-item">
  <form class="form-horizontal">

    <div ng-repeat="(key, value) in newItem.data" class="form-group">
      <label for="{{key}}" class="col-xs-2 control-label">{{key}}</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" id="{{key}}" ng-model="newItem.data[key]" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-4">
        <input type="text" class="form-control" id="{{key}}" ng-model="newProperty.key" />
      </div>
      <div class="col-xs-8">
        <input type="text" class="form-control" id="{{key}}" ng-model="newProperty.value" />
      </div>
    </div>

  </form>


  <p>{{newProperty.key}}</p>

  <!-- <h4 contenteditable ng-model="newTodo.content"
    strip-br="true" required 
    ng-keydown="addNewTodo($event)" 
    ng-class="'todo-content add-new-todo'"></h4> -->
</div>

<br>

<ul class="list-group">
  <li ng-repeat="item in db" class="list-group-item">
    <form class="form-horizontal">

      <div ng-repeat="(key, value) in item.data" class="form-group">
        <label for="{{key}}" class="col-xs-2 control-label">{{key}}</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" id="{{key}}" ng-model="db[$parent.$index].data[key]" />
        </div>
      </div>

    </form>
  </li>
</ul>

<hr>

<p>{{readableData}}</p>